


<div class ="panier">
<% if @cart.orderables.count > 0 %>
<div class="cart">
<%= render "cart/orderables", cart: @cart %>
</div>
<div class="container">
<div class="row justify-content-center">
  <div class="col-md-8">
    <% if @cart.orderables.present? %>
      <div class="cart">
          <% @cart.orderables.each do |orderable| %>
        
          <% end %>
          <div class="  total-banner bg-success text-white p-2 text-center"style="width:15% ;margin-left:auto;margin-right:auto ;border-radius:5px">
            <h4 class="mb-0"><strong>Total:</strong></h4>
            <h5><%= number_to_currency(@cart.total, unit: "", delimiter: " ", separator: ",", format: "%n %u") %> &euro;</h5>
          </div>
        </div>
        <% end %>
    <% else %>
      <h1 class="text-center">Your cart is empty</h1>
    <% end %>
  </div>
</div>
</div>

