// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.total{
    float: right;
    margin-right: 5em;
    margin-top: 2em;

}
body{
    margin-left: auto;
    margin-right: auto;

}
.panier{
    margin-top: 5%;
}

.tout{
    margin-bottom: 2px;
}